@use 'hero';
@use 'event';
@use 'variables';
@use 'components/info-bar';
@use 'components/buttons';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Roboto, 'sans serif';
    overflow-x: hidden;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        width: 80%;
    }

    @media (max-width: 1024px) {
        width: 90%;
    }
}
