//Linear gradient - up to down colors
$color1: #035AA6;
$color2: #0477BF;
$color3: #F2D98D;
$color4: #F2C299;
$color5: #F2884B;

//Buttons
$buttonPrimary: #3c40c6;
$buttonSecondary: #ff3f34;

//Text
$textPrimary: #1e272e;
$titlePrimary: #1e272e;

//Info bar
$infoBarBackground: rgba(255,255,255,.5);